.header-menu{
    left: 0;
    top: 0;
    z-index: 3;

    position: sticky;

    width: 100vw;
    height: 4rem;
    display: none;


    background: var(--primary);
}
@media screen and (min-width: 480px){
    .header-menu{
        display: flex;
      
    }
    
}