.section-page.skills {
    --skill-item-height: 10rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.section-page.skills>.skill-wrapper {
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(3, var(--skill-item-height));
}

.section-page.skills .skill-item {
    --bg-color: var(--contraste-thme);
    background: var(--theme);
    border-radius: 1rem;
    box-shadow: 0 3px rgb(0, 0, 0, 0.16);
    display: grid;
    grid-template-columns: var(--skill-item-height) 1fr;
}


/* #region modelo skill */

.section-page.skills .skill-item.html {
    --bg-color: var(--html);
}

.section-page.skills .skill-item.css {
    --bg-color: var(--css);
}

.section-page.skills .skill-item.js {
    --bg-color: var(--js);
}


/* #endregion */

.section-page.skills .skill-item>.icon {
    font-size: calc(var(--skill-item-height) / 1.5);
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-page.skills .skill-item .skill-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 1rem;
}

.section-page.skills .skill-item .skill-content>strong {
    font-size: 2rem;
    color: var(--contraste-thme);
}

.section-page.skills .skill-item .skill-content>.skill-content-bars {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
}

.section-page.skills .skill-item .skill-content>.skill-content-bars>span {
    background: var(--bg-color);
    border-radius: 0.25rem;
    opacity: 0.5;
    height: 1rem;
}

.section-page.skills .skill-item .skill-content>.skill-content-bars>span.active {
    opacity: 1;
}


/* #region    (min-width: 415px*/

@media screen and (min-width: 415px) {
    .section-page.skills {
        --skill-item-height: 15rem;
    }
    .section-page.skills>.skill-wrapper {
        gap: 2rem;
    }
    .section-page.skills .skill-item {
        border-radius: 1.5rem;
    }
    .section-page.skills .skill-item .skill-content {
        padding: 2rem 2rem 2rem 0;
    }
    .section-page.skills .skill-item .skill-content>strong {
        font-size: 3rem;
    }
    .section-page.skills .skill-item .skill-content>.skill-content-bars {
        margin-top: 2rem;
        gap: 1rem;
    }
    .section-page.skills .skill-item .skill-content>.skill-content-bars>span {
        height: 1.5rem;
        border-radius: .5rem;
    }
}


/* #endregion */


/* #region min 769px */

@media screen and (min-width: 769px) {
    .section-page.skills {
        --skill-item-height: 10rem;
    }
    .section-page.skills>.skill-wrapper {
        place-content: center;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
    .section-page.skills .skill-item {
        border-radius: 1.5rem;
    }
    .section-page.skills .skill-item .skill-content {
        padding: 0 3rem 0 0;
    }
    .section-page.skills .skill-item .skill-content>strong {
        font-size: 2rem;
    }
    .section-page.skills .skill-item .skill-content>.skill-content-bars {
        margin-top: 1rem;
    }
    .section-page.skills .skill-item .skill-content>.skill-content-bars>span {
        border-radius: 1rem;
    }
}


/* #endregion */
